// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$gold: rgb(223, 186, 66);
$yellowPastel: #f8f1ae;
$yellow: #ffc244;
$blue: #25385f;
$red: #d24448;
$yellowbrown: #edbf72;
$azurePastel: #bedaf1;   
$azure: rgb(138, 182, 207);
$brownPastel: #d0ad8b;
$creamPastel: #fffdd0;
$cream: #EEE7D7;
$green: #8fbc8f;
$greenPastel: #9dc09d;
$greenlight: #e9f8f5;
$bluelight: #dadef5;
// $bluelight: #e9ebf8;
$greenstrong: #00a082;
$bluestrong: #0053a0;
$whitePastel: #f1f1f1;
    