@media (max-width: 1200px) AND (min-width: 998px){

    #edit-restaurant{
        form{
            flex-basis: 100%;
        }
    }
}

@media (max-width: 998px) AND (min-width: 768px){

    #edit-restaurant {   
        padding: 200px 2%;   
        form {
            flex-basis: 100%;  

            #myfilebutton{
                font-size: 40px;
                
            }
               
            fieldset{

                flex-basis: 100%;

                input{   
                        font-size: 40px;   
                }   
                legend{
                    font-size: 60px;
                }
                label{
                    font-size: 50px;
    
                }
       
                button{
                    font-size: 40px;   
                }
            }   
        }

        ul{

            li{
                flex-basis: calc(100% / 2 - 20px);
                #category{
                    padding: 20px;
                    border-radius: 12px;   
                }
            }
        }
    }   
}