@media (max-width: 1600px) AND (min-width: 1200px) {
     body #homepage .jumbotron .text h2 {         
          font-size: 3.5vw;
     }

     body #homepage #categories .restaurants {
          padding: 30px 5%;
          }

     body #homepage .work ul {
          padding: 100px 5%;
     }
}

@media (max-width: 1200px) AND (min-width: 998px) {
     body #homepage .jumbotron .text h2 {        
          font-size: 4vw;
     }

     body #homepage #categories h2 {
          margin-top: 20%;
     }

     body #homepage #categories .searchbar {
          width: 50%;
          }

     body #homepage #categories .restaurants {
          padding: 30px 5%;
          }

     body #homepage .work h2 {
          margin: 15% 0 20px 0;
     }

     body #homepage .work ul {
          justify-content: center;
          flex-wrap: wrap;
          padding: 100px 8%;
     }

     body #homepage .work ul li {
          margin: 15px;
          flex-basis: calc(50% - 30px);
     }
}

@media (max-width: 998px) AND (min-width: 768px) {
     body #homepage .jumbotron {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          }

     body #homepage .jumbotron .text h2 {
          font-size: 7vw;
     }

     body #homepage .jumbotron .attach {
          padding: 27%;
          }

     body #homepage #categories h2 {
          margin: 200px 0;
          font-size: 65px;
     }

     body #homepage #categories .searchbar {
          width: 60%;
          font-size: 40px;
     }

     body #homepage #categories .typeOfFoods {
          flex-wrap: nowrap;
          justify-content: flex-start;
          overflow: auto;
          padding: 200px 8%;
     }

     body #homepage #categories .typeOfFoods li {
         flex-basis: calc(50% - 20px);
         margin: 30px 100px;
     }

     body #homepage #categories .typeOfFoods li img {
          width: 200px;
          height: auto;
     }

     body #homepage #categories .typeOfFoods li div {
          display: flex;
          flex-wrap: nowrap;
          }

     body #homepage #categories .typeOfFoods li div .checkbox {
          padding: 25px;
          border-radius: 15px;
     }

     body #homepage #categories .typeOfFoods li div .checkbox:checked:after {
          font-size: 60px;
     }

     body #homepage #categories .typeOfFoods li div span {
          font-size: 35px;
          white-space:nowrap;   
     }

     body #homepage #categories .restaurants {
          padding: 30px 5%;
     }

     body #homepage #categories .restaurants li {
          flex-basis: 740px;
          margin: 50px 0;
     }

     body #homepage #categories .restaurants li a h3 {
          padding: 10px;
          font-size: 35px;
          }

     body #homepage #categories .restaurants li a div {
          height: 320px;
          width: 100%;
     }

     body #homepage .work ul {
          padding: 100px 5%;
          }

     body #homepage .work h2 {
          margin: 200px 0;
          font-size: 65px;
     }

     body #homepage .work ul {
          justify-content: center;
          flex-wrap: wrap;
          padding: 100px 8%;
     }

     body #homepage .work ul li {
          margin: 50px 0;
          flex-basis: 80%;
     }

     body #homepage .work ul li div h3 {
          font-size: 50px;
     }

     body #homepage .work ul li div .left p {
          font-size: 40px;
     }

     body #homepage .work ul li div button a {
          font-size: 40px;
     }
}

@media (max-width: 768px) AND (min-width: 450px){
     body #homepage .jumbotron {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          }

     body #homepage .jumbotron .text h2 {
          font-size: 8vw;
     }

     body #homepage .jumbotron .attach {
          padding: 27%;
          }

     body #homepage #categories h2 {
          margin-top: 20%;
          font-size: 55px;
     }

     body #homepage #categories .searchbar {
          width: 80%;
          font-size: 35px;
          }

     body #homepage #categories .typeOfFoods li {
         flex-basis: 100%;
         margin: 30px 0 50px 0;
     }

     body #homepage #categories .typeOfFoods li img {
          width: 70%;
          height: auto;
     }

     body #homepage #categories .typeOfFoods li div .checkbox {
          padding: 25px;
          border-radius: 15px;
     }

     body #homepage #categories .typeOfFoods li div .checkbox:checked:after {
          font-size: 60px;
     }

     body #homepage #categories .typeOfFoods li div span {
          font-size: 35px;
     }

     body #homepage #categories .restaurants {
          padding: 30px 3%;
          }

     body #homepage #categories .restaurants li {
          flex-basis: 740px;
     }

     body #homepage #categories .restaurants li a h3 {
          padding: 10px;
          font-size: 35px;
          }

     body #homepage #categories .restaurants li a div {
          height: 320px;
          width: 100%;
     }

     body #homepage .work h2 {
          margin: 15% 0 20px 0;
          font-size: 55px;
     }

     body #homepage .work ul {
          justify-content: center;
          flex-wrap: wrap;
          padding: 100px 3%;
     }

     body #homepage .work ul li {
          margin: 30px;
          flex-basis: 80%;
     }

     body #homepage .work ul li div h3 {
          font-size: 50px;
     }

     body #homepage .work ul li div .left p {
          font-size: 40px;
     }

     body #homepage .work ul li div button a {
          font-size: 40px;
     }
}

@media (max-width: 450px) {
     body #homepage .jumbotron {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          }

     body #homepage .jumbotron .text h2 {
          font-size: 10vw;
     }

     body #homepage .jumbotron .attach {
          padding: 27%;
          }

     body #homepage #categories h2 {
          margin-top: 30%;
          font-size: 55px;
     }

     body #homepage #categories .searchbar {
          width: 80%;
          font-size: 35px;
          }

     body #homepage #categories .typeOfFoods li {
         flex-basis: 100%;
         margin: 30px 0 15px 0;
     }

     body #homepage #categories .typeOfFoods li img {
          width: 30%;
          height: auto;
     }

     body #homepage #categories .typeOfFoods li div .checkbox {
          padding: 15px;
          border-radius: 7px;
     }

     body #homepage #categories .typeOfFoods li div .checkbox:checked:after {
          font-size: 40px;
     }

     body #homepage #categories .typeOfFoods li div span {
          font-size: 20px;
     }

     body #homepage #categories .restaurants {
          padding: 30px 3%;
          }

     body #homepage #categories .restaurants li {
          flex-basis: 740px;
     }

     body #homepage #categories .restaurants li a h3 {
          padding: 10px;
          font-size: 35px;
          }

     body #homepage #categories .restaurants li a div {
          height: 160px;
          width: 100%;
     }

     body #homepage .work h2 {
          margin: 15% 0 20px 0;
          font-size: 55px;
     }

     body #homepage .work ul {
          justify-content: center;
          flex-wrap: wrap;
          padding: 100px 0;
     }

     body #homepage .work ul li {
          margin-bottom: 30px;
          flex-basis: 60%;
          max-width: 329px;
     }

     body #homepage .work ul li div h3 {
          font-size: 50px;
     }

     body #homepage .work ul li div .left p {
          font-size: 30px;
     }

     body #homepage .work ul li div button a {
          font-size: 40px;
     }
}