#register {

     section {
          @include flex(row, center, center,  nowrap);
          background-color: $whitePastel;
          padding: 10% 8%;

          form {
               flex-basis: 50%;
               padding: 0 40px 40px;
               @include neomorphism;

               fieldset {
                    border: 3px solid $blue;
                    background-color: $bluelight;
                    padding: 40px;
                    border-radius: 10px;

                    legend {
                         @include itim;
                         padding: 20px;
                    }

                    label, input {
                         @include baloo;
                         margin: 20px;
                         color: $blue;
                    }

                    input {
                         width: 100%;
                         border-radius: 10px;
                         padding: 10px 20px;
                         border: 0;
                         background-color: $bluelight;
                         box-shadow: inset 5px 5px 10px #bfc1cb,
                                     inset -5px -5px 10px #ffffff;
                    }

                    button {
                         @include definitiveButtonDesign;
                         font-size: 20px;
                         margin: 20px 0;
                    }
               }
          }
     }
}